.banner {
    padding: 16px;

}

.banner-img-container {
    width: 100%;
    margin: 40px 0 16px;

}

.banner-img {
    width: 100%;
}

.banner-title {
    margin-bottom:16px ;
    text-align: center;
    font-size: 20px;
    color: #007FFF;
}

.banner-content {

text-align:center;
color: #777777;

}

.banner-footer{
    display: flex;
    justify-content: center;
    margin:16px 0;

}


@media (min-width:916px){
    .banner{
        display: flex;
    
        background-image: url('../../images/3dobj2.png');
        background-repeat: no-repeat;
        height: 500px;
        /* background-color: blue; */
        background-position: right center;
        width: 100%;
        align-items: center;
        
    }
.banner-img-container{
    flex: 1 0 75%;
    display: none;
}
.banner-body{
    width: 50%;
    padding: 0 40px;
}
.banner-title{
    font-size: 40px;
}
}
@media (min-width:1020px){
    .banner-body{
        /* width: 500px; */
        padding: 0 40px;
    }
    .banner-title{
        font-size: 50px;
    }

}
