.About{
    /* background-color: red; */
    display: flex;
    height: 100%;
}
.About-content-hr{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: #ffffff;
    /* background-color: red; */
  }
  .About-content-empty-header{
    width: 100%;
    height: 15%;
    /* background-color: rebeccapurple; */
  }
  .About-content-hr-attributes{
    width: 100%;
    height: 100%;
    display: flex;
  }
  .About-content-hr-attributes-img{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .About-img:hover{
    -webkit-animation: anime 2s infinite  alternate;
    animation: anime 2s infinite  alternate;
  }
  @-webkit-keyframes anime  {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
  }
  @keyframes anime {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
  }
  .About-content-hr-attributes-imgs{
    width: 50%;
    height: 100%; 
    display: flex;
    flex-direction: column;
  }
  .abouts-icon{
    /* background-color: blue; */
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .About-header{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center ;
  }
  .About-header1{
    min-width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .About-header2{
    width: 100%;
    height: 30%;
      display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    justify-content: center;
  }
  .About-content{
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column  ;
  }
  .About-header3{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
  }
  .About-header3-contents{
  width: 100%;
  height: 25%;
  display: flex;
  align-items: center;
  justify-content: space-evenly ;
  }
  .blob{
    width: 10%;
    height: 70%;
   border-radius:  55% 45% 70% 30% / 65% 44% 56% 35%  ;
   display: flex;
   align-items: center;
   justify-content: center  ;
   box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  }
  @media only screen and (max-width: 600px) {
    .About{
      display: flex ;
      height: 100%;
      /* background: red !important; */
  }
  .About-img{
    width: 100%;
    height: auto  ;
    margin: 10px;
  }
  .About-content-hr{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* background: #ffffff; */
  }
  .About-content-empty-header{
    width: 100%;
    height: 10%;
    /* background-color: rebeccapurple; */
    color:transparent;
    display: flex;
    /* align-items: center; */

  }
  .About-content-hr-attributes{
    width: 100%;
    height: 100% !important;
    display: flex;
    flex-direction: column;
    /* background-color: brown; */
    margin-top: 15px;
  }
  .About-content-hr-attributes-img{
    width: 50%;
    min-height: 10px !important;
    display: flex !important;
    align-items: center;

    justify-content: space-around ;
    margin: auto;
  }
  
  .About-content-hr-attributes-imgs{
    width: 100% !important;
    height: 100% !important; 
    display: flex;
    flex-direction: column !important;
    justify-content: space-around !important;
    /* background-color: blueviolet !important; */
    margin-top: 15px;
    /* background-color: red !important; */
  }
  .About-header{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center ;
  }
  .about-header4{
    height: 30%;
    min-width: 100%;
    display: flex !important  ;
    justify-content: space-evenly !important;
    align-items: center !important; 
    flex-direction: row;
    font-size: 10px !important  ;
  }
  .About-header1{
    min-width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .About-header2{
    width: 100%;
    height: 30%;
      display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    justify-content: center;
  }
  .About-content{
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column  ;
  }
  .About-header3{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
  }
  .abouts-icon{
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    /* height: 100%;/ */
  }
  .About-header3-contents{
  width: 100%;
  height: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly ;
  margin-top: 20px;
  }
  .About-icon{
    /* background-color: aqua !important; */
    display: flex;
    /* justify-content: center; */
    width: 15%!important;
  }
  .blob{
    width: 10%;
    height: 70%;
   border-radius:  55% 45% 70% 30% / 65% 44% 56% 35%  ;
   display: flex;
   align-items: center;
   justify-content: center  ;
   box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  }

  }