.About{
    /* background-color: red; */
    display: flex;
    height: 100%;
}
.About-content-hr{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: #ffffff;
    /* background-color: red; */
  }
  .About-content-empty-header{
    width: 100%;
    height: 15%;
    /* background-color: rebeccapurple; */
  }
  .About-content-hr-attributes{
    width: 100%;
    height: 100%;
    display: flex;
  }
  .About-content-hr-attributes-img{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .About-img:hover{
    -webkit-animation: anime 2s infinite  alternate;
    animation: anime 2s infinite  alternate;
  }
  @-webkit-keyframes anime  {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
  }
  @keyframes anime {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
  }
  .About-content-hr-attributes-imgs{
    width: 50%;
    height: 100%; 
    display: flex;
    flex-direction: column;
  }
  .About-header{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center ;
  }
  .About-header1{
    min-width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .About-header2{
    width: 100%;
    height: 30%;
      display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    justify-content: center;
  }
  .About-content{
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column  ;
  }
  .About-header3{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
  }
  .About-header3-contents{
  width: 100%;
  height: 25%;
  display: flex;
  align-items: center;
  justify-content: space-evenly ;
  }
  .blob{
    width: 10%;
    height: 70%;
   border-radius:  55% 45% 70% 30% / 65% 44% 56% 35%  ;
   display: flex;
   align-items: center;
   justify-content: center  ;
   box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  }
  @media only screen and (max-width: 600px) {
    .About{
      background-color:blue;
      display: flex ;
      height: 100%;
  }
  .About-content-hr{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* background: #ffffff; */
    background-color: red;
  }
  .About-content-empty-header{
    width: 100%;
    height: 15%;
    /* background-color: rebeccapurple; */
  }
  .About-content-hr-attributes{
    width: 100%;
    height: 100%;
    display: flex;
    background-color: rosybrown;
    flex-direction: column;
  }
  .About-content-hr-attributes-img{
    width: 25%;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .About-content-hr-attributes-imgs{
    width: 100%;
    height: 100%; 
    display: flex;
    flex-direction: column;
  }
  .About-header{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center ;
  }
  .About-header1{
    min-width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .About-header2{
    width: 100%;
    height: 30%;
      display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    justify-content: center;
  }
  .About-content{
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column  ;
  }
  .About-header3{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
  }
  .About-header3-contents{
  width: 100%;
  height: 25%;
  display: flex;
  align-items: center;
  justify-content: space-evenly ;
  }
  .blob{
    width: 10%;
    height: 70%;
   border-radius:  55% 45% 70% 30% / 65% 44% 56% 35%  ;
   display: flex;
   align-items: center;
   justify-content: center  ;
   box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  }

  }