.home{
    display: flex;
align-items: center;
justify-content: flex-start;
/* background-color: red; */
width: 100%;
}
.home-content{
    width: 50%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0px 0px 20px 100px; 
    /* background-color: red; */
  }

  .home-content1{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .home-content-img{
    width: 90%;
    height: auto;
    -webkit-animation: mover 2s infinite  alternate;
    animation: mover 2s infinite  alternate;
  }
  .home-content-btn{
    display: flex;
    align-items: center;
    margin-top: 25px;
    gap: 20px;
    /* background-color: red; */
  }
  .container section:nth-of-type(2n+1){
    background: #ffffff;
    /* background-color: red; */
  }
  .container section:nth-of-type(2n){
    background: #ffffff;
    /* background-color: red; */
  }