.home{
  display: flex;
align-items: center;
justify-content: space-around;
/* margin: auto; */
height: 100vh ;
width: 100% !important;
padding: 15px;
/* background-color: aqua; */
}
.home-main{
height: 100% ;

width: 100% !important;
padding: 20px !important;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;

}

.home-content{
  width: 100% ;
  height:80%;
  display: flex;
  align-items: center;
  /* flex-direction: row; */
}
.head{
  /* background-color: red; */
  height: 35%;
  width: 100% !important;
  padding: 10px !important;
  /* margin-bottom: 10px; */
}
.paragraph1{
  color: #007FFF;
  width: 580px;
  height: 60%;
  /* margin-bottom: 25px; */
}
.paragraph{
  /* background-color: aqua;  */
  height: 50%;
  width: 100%;
  padding: 15px !important;

}
.para-main{
  /* background-color: blue; */
  width: 100% !important;
  /* height: 50%; */
  color: #777777;
  display: flex;
  justify-content: space-around;
  line-height: 1.6;
  font-size: 18px;
}
.home-content1{
  /* background-color: #da4500; */
  display: flex;
  align-items: center;
  height: 80%;
  width: 100% !important;
  justify-content: center;
  /* background-color: #007FFF; */
}
.home-content-img{
  width: 100% !important;
  height: 70% !important;
  
}
.home-content-img:hover{
  -webkit-animation: anime 2s infinite  alternate;
  animation: anime 2s infinite  alternate;
}
@-webkit-keyframes anime  {
  0% { transform: translateY(0); }
  100% { transform: translateY(-20px); }
}
@keyframes anime {
  0% { transform: translateY(0); }
  100% { transform: translateY(-20px); }
}
.btn{
  /* background-color: #0500DA; */
  width: 100%;
  height: 9%;
  display: flex;
  padding-left: 15px;
}
.button{
  /* background-color: rosybrown;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 15px;
  /* outline:none; */
  /* border: none; */ 
  font-family: Roboto, sans-serif;
font-weight: 0;
font-size: 17px;
color: #ffffff;
/* color: #777777;  */
background-color: #007FFF;
padding: 10px 30px;
border: none;
box-shadow: none;
border-radius: 8px;
transition : 1549ms;
transform: translateY(0);
display: flex;
align-items: center;
cursor: pointer;
justify-content: space-around;
width: 100%;
height: 100%;

}


@media only screen and (max-width: 768px) {
  .home{
    display: flex;
  align-items: center;
  justify-content: space-around;
  /* margin: auto; */
  height: 100vh !important;
  width: 100% !important;
  }

  .home-main{
    /* display: flex; */
    flex-direction: column;
    height: 100% !important;
    
    width: 100% !important;
    /* padding: 20px !important; */
    display: flex !important;
    align-items: center;
    margin: auto !important;
    /* justify-content: flex-end !important; */
    font-size: 10px !important;
    font-weight: small !important;
    /* justify-content: center; */
    
    }
    .head{
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 23%;
      align-items: center;
      font-size: 10px !important;
      text-align: center !important;
    }
    .paragraph1{
      width: 100%;
      text-align: center;
      display: flex;
      align-items: flex-end;
      font-size: 28px !important;
      height: 50%;
      /* font-weight: 100 !important; */

    }
    .heading-tag{
      background-color: tomato;
      height: 100% !important;
      width: 100%!important;
    }
    .MuiTypography-h2 {
      font-size: 1.75rem;
      font-family: "Roboto", "Helvetica", "Arial", sans-serif;
      font-weight: 300;
      line-height: 1.9 !important;
      letter-spacing: -0.00833em;
  }
  .paragraph{
    height: 57% !important;
    width: 100%;
    display: flex;
    align-items: center !important;
    justify-content: center;
    flex-direction: column;
    margin: 0%;
    padding: 0% !important;
    /* align-items: flex-start; */
    /* justify-content: flex-start; */


  }
  .para-main{
    height: 100%;
    width: 95% !important;
    /* text-align: center;   */
    display: flex !important;
    align-items: flex-start !important;
    margin-left: 10px;
    padding: 0% !important;
    font-size: 13px;
  }
  .btn{
    width: 100% !important;
    height: 9%;
    display: flex !important;
    align-items: center !important;
    /* padding-left: 15px; */
  }
  a .link{
    background-color: aqua !important;
  }
  .button{
      width: 100%;
    display: flex !important;
    align-items: flex-end !important;
    /* padding: 0% !important; */
  }

}

@media (max-width: 660px) {
  .home-content{
    display: flex;
    flex-direction: column-reverse !important;
  align-items: center;
  justify-content: space-evenly;
  /* margin: auto; */
  height: 100vh !important;
  width: 100% !important;
  /* padding: 15px; */
  }

  .para-main{
    position: relative;
    bottom: 40px;
  }
  .home{
    margin: 0% !important;
    padding: 0%;
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-around;
    /* height: 120px !important; */
  }
  .head{
    /* background-color: red; */
    height: 17%;
    width: 100% !important;
    padding: 10px !important;
    position: relative;
    bottom: 43px;
    /* margin-bottom: 10px; */
  }
  .paragraph1{
    color: #007FFF;
    /* background-color: yellow; */
    width: 270px !important;
    height: 70%;
    
    /* margin-bottom: 25px; */
  }
  .home-content{
    height: 100% !important;
    position: relative;

  }.home-content-img{
    /* position: relative; */
    /* top: 36px; */
    height: 80% !important;
    width: 50% !important ;
  }.home-main{
    margin: 0%;
    padding: 0%;
    position: relative;
    bottom: 20px;
  }
  .btn{
    position: relative !important;
    bottom: 37px !important;
  }
 
}



/* 
@media only screen and(max-width:300px){
  

.home{
display: flex;
background-color: #0500DA !important;
height: 100% !important;
width: 100%;
}
.home-main{
  background-color: blue;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin: 50px 0px 0px 60px;
}

.home-content1{
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: aqua; 
text-align: center;
  /* margin-bottom:20px; 
  width: 40%;
  height: 90%;
}

.home-content-img{
  width: 80%;
  height: 90%;
  margin: auto;
  display: flex;
  
}

.home-content-btn{
  display: flex;
  align-items: center;
  /* margin-top: 25px; 
  gap: 20px;
  padding:10px;
  /* background-color: red; 
}
.container section:nth-of-type(2n+1){
  background: #ffffff;
  /* background-color: red; 
}
.container section:nth-of-type(2n){
  background: #ffffff;
  /* background-color: red; 
}
.paragraph{
  display: flex;
  padding: 10px;
}
} */
/* 
@media only screen and (max-width: 600px) {
  .home{
    display: flex;
align-items: center;
justify-content: space-around;
/* margin: auto; 
height: 100% !important;
width: 100%;
/* background-color: #0500DA; 
}
.head{
  /* background-color: brown; 
  height: 25%;
}
.paragraph{
  /* background-color: coral; 
  height: 100% !important;
}
  .home-content{
    /* background-color: #00da21; */
    /* position: relative; 
    height: 100% !important;
    /* margin-bottom: 300px; */
    /* margin-bottom: 30%; 
    width:90% !important;
    display: flex !important;
    flex-direction: column-reverse ;
    /* margin-top: 100%; 
    justify-content:flex-end !important;
  
  }
  .home-main{
    display: flex;
    flex-direction: column;
     }
  .home-content-img{
    width: 100%;
    height: auto;
    display: flex;
    /* margin-left: 60px; 
  }
 
 
.paragraph1{
font-size: 25px !important;
padding: 0px;
color: #0500DA;
}
.paragraph2{
font-size: 25px !important;
}
} */
/* 
@media only screen and (max-width: 100px) {
.home{
  display: flex;
align-items: center;
justify-content: space-around;
/* margin: auto; 
height: 100%;
width: 100%;
}
.paragraph{
font-size: 10px !important;

}
.para-main{
/* background-color: blue; 
width: 60%;



}

.home-content{
  min-width: 10% !important;
  display:flex;
  flex-direction: column;
  justify-content: center !important;
/* max-height: 100%; 
}

.home-main{
  display: flex !important;
  flex-direction: column !important;
  width: 100%;
  height: 100%;
  font-size: 10px !important;
  /* padding: 5%; */
  /* margin: 50px 0px 0px 20px; 
}
} */
/* 
@media only screen and (min-width:1400px) {
.home{
  display: flex;
align-items: center;
justify-content: space-around;
/* margin: auto; 
height: 100%;
width: 100%;
}


.home-content{
  min-width: 10% !important;
  display:flex;
  flex-direction: row;
  justify-content: center !important;
/* max-height: 100%; 
}
.home-content-img{
  width: 100%;
  height: auto;
}
.home-content1{
  width: 100% !important;
}

.home-main{
  display: flex !important;
  flex-direction: column !important;
  width: 100%;
  height: 100%;
  font-size: 10px !important;

}
} */

