
/* @media only screen and (max-width: 600px) { */
.home{
    display: flex;
align-items: center;
justify-content: space-around;
margin: auto;
/* background-color:yellow; */
height: 100%;
width: 100%;
}
/* } */
.home-content{
    width: 100%;
    height:80%;
    display: flex;
    
    flex-direction: row;
    /* margin: auto; */
    /* justify-content: space-between; */
    /* padding: 0px 0px 20px 100px;  */
    padding: 10px;
    /* background-color: red; */
  }
  .home-main{
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 70%;
    /* padding: 5%; */
    /* margin: 50px 0px 0px 20px; */
  }
  .triton-logo{
    display: flex;
    width: 20%;
    height: 20%;
    position: fixed;
    z-index: 999;
  }
  .home-content1{
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: aqua; */
  text-align: center;
    /* margin-bottom:20px; */
    width: 40%;
    height: 90%;
  }

  .home-content-img{
    width: 80%;
    height: 90%;
    margin: auto;
    display: flex;
    
  }

  .home-content-btn{
    display: flex;
    align-items: center;
    /* margin-top: 25px; */
    gap: 20px;
    padding:10px;
    /* background-color: red; */
  }
  .container section:nth-of-type(2n+1){
    background: #ffffff;
    /* background-color: red; */
  }
  .container section:nth-of-type(2n){
    background: #ffffff;
    /* background-color: red; */
  }
  .paragraph{
    display: flex;
    padding: 10px;
  }
  
  @media only screen and (max-width: 800px) {
    .home-content{
      background-color: rgb(0, 255, 0);
      /* position: relative; */
      height: 80% !important;
      /* margin-bottom: 30%; */
      width:100% !important;
      display: flex;
      /* margin-top: 100%; */
      justify-content:flex-end !important;
    
    }
  }
  
@media only screen and (max-width:600px) {
  .home{
    display: flex;
align-items: center;
justify-content: space-around;
/* margin: auto; */
background-color:red;
height: 100%;
width: 100%;
}
  .home-content{
    background-color: blue;
    min-width: 10% !important;
    display:flex;
    flex-direction: column;
    justify-content: center !important;
  /* max-height: 100%; */
  }
  .home-main{
    background-color: purple;
    display: flex ;
    flex-direction: column;
    width: 100%;
    height: 100%;
    /* padding: 5%; */
    /* margin: 50px 0px 0px 20px; */
  }
}
  




  
  