

.Service-main{
    width: 100%;
    height: 100% ;
    display: flex;
    flex-direction: column;
}
@media only screen and (min-width:'600px'){
    .para1{
        font-size:8px !important;
        
    }
}

.Service-main-hr{
width: 100%;
height: 100%;
display: flex;
flex-direction: column;
    }
.Service-main-hr-content1{
   width: 100%;
   height: 20%;
   display: flex;
   flex-direction: column;
   justify-content: center  ;
   align-items: center;
}
.Service-main-hr-content2{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
@media only screen and (max-width:600px){
    .Service-main-hr-content2{
    }
}

